
@{
    ViewBag.Title = "Siparis_Yonetimi";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Sipariş Yönetimi INDEX</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Sipariş Yönetimi INDEX</a></li>
                    <li class="breadcrumb-item active">Sipariş Yönetimi INDEX</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>